body {
    background-color: #191A1D;
    margin: 0px 0px 0px 0px;
    font-family: 'Lato', sans-serif;
}

.navigation-wrapper {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 20px 13px 20px;
    margin: 0px 0px 0px 0px;
    font-family: 'Lato', sans-serif;
}

.navigation-wrapper > .left-column > .banner-image img {
    width: 135px;
    height: 25px;
    padding-top: 10px;
    padding-right: 40px;
}

.navigation-wrapper > .center-column {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0px;
    width: 100%;
    min-width: 346.781px;
    margin: 0px;
    align-items: top;
}

.navigation-wrapper > .center-column > .text p {
    display: grid;
    justify-content: left;
    grid-gap: 10px;
    margin: 0px;
}

.navigation-wrapper > .center-column > .links-wrapper {
    display: flex;
    justify-content: space-between, left;
    align-items: center;
}

.navigation-wrapper > .center-column > .text p {
    color: #f4e17f;
    font-size: 14px;
    margin: none;
}

.navigation-wrapper > .center-column > .links-wrapper > .nav-link a {
    color: white;
    font-size: 14px;
    text-decoration: none;
    padding: 0px 10px 0px 0px;
}

.navigation-wrapper > .center-column > .links-wrapper > .Spark > .nav-link a {
    color: #7b7e8c;
    text-decoration: none;
}

.navigation-wrapper > .right-column > .btn-wrapper button {
    background: #36383F;
    color: white;
    font-family: 'Lato', sans-serif;
    -webkit-appearance: none;
    font-size: 1rem;
    text-shadow: none;
    line-height: 1.2;
    display: inline-block;
    outline: 0;
    padding: 10px 16px;
    margin: 5px 10px 0 0;
    position: relative;
    border-radius: 3px;
    border: 3px solid transparent;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: none;
    text-align: center;
    font-weight: normal;
    box-sizing: border-box;
}

.navigation-wrapper > .right-column > .btn-wrapper > .btn i {
    color: #47cf73;
}

.navigation-wrapper > .right-column > .btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 341.219px;
}

.navigation-wrapper > .right-column > .btn-wrapper > .icon i {
    color: #7b7e8c;
    width: 25px;
    height: 24.97px;
    font-size: 27px;
    padding: 10px;
    padding-right: 20px;
}

.center-page {
    display: grid;
    width: 100%;
    align-content: center;
}

.center-page {
    display: flex;
    align-content: center;
    justify-content: left;
    width: 100%;
    min-width: 366px;
}

.center-page > .page-text {
    padding: 3rem;
    max-width: 775px;
}

.center-page > .page-text > .first p {
    color: white;
    font-size: 30px;
    margin: 0px 0px 10px;
}

.center-page > .page-text > .second p {
    color: #b3b3b3;
    font-size: 1.6rem;
    margin: 17px 0px 26px 0px;
}

.center-page > .page-text > .buttons {
    display: flex;
    align-content: center;
}

.center-page > .page-text > .buttons > .button-one > .btn {
    color: #000000;
    font-size: 26.25px;
    background-color: #47CF73;
    margin: 0px 10px 0px 0px;
    border: none;
    padding: 10px 16px;
}

.center-page > .page-text > .buttons > .button-two > .btn {
    color: #FFFFFF;
    font-size: 26.25px;
    background: #111111;
    margin: 0px 10px 0px 0px;
    border: none;
    padding: 10px 16px;
}

.center-page > .page-image {
    width: 650px;
    padding: 0;
    align-self: flex-end;
    box-sizing: border-box;
}

.center-page > .page-image p {
    color: #ffffff;
    font-size: 15px;
}

.center-page > .page-image a {
    color: #76DAFF;
    font-size: 15px;
    text-decoration: none;
}

.center-page > .page-image img {
    max-width: 100%;
    height: auto;
}

/* gradient code for css class */
.center-page {
    box-sizing:border-box;
    background-image: -webkit-radial-gradient(left top, ellipse farthest-side, #36383f 30%, #000000 140%);
}

.bottom-page > .links-wrapper > .nav-link {
    background: #36383F;
    color: white;
    font-size: 1rem;
    display: inline-block;
    padding: 10px 16px;
    margin: 0 0 0 0;
    position: relative;
    border: 1px solid #7b7e8c;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: none;
    text-align: center;
    font-weight: normal;
    box-sizing: border-box;
}